body {
  font-size: 16px;
  background-color: #FFE3E3;
  color: #0E5A8A;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

a {
  text-decoration: none;
}

a:hover {
  color:#000000;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  font-size: 100%;
  float: right;
  padding: 30px;
}

h1 {
  font-size: 4em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 100%;
  line-height: 1.2;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
